name: GitHub Actions Demo
on: 
  push:
    branches: [main]
    paths-ignore: [.github/**]
  pull_request:
    branches: [main]
  schedule:
    - cron: '15 6 * * 0'
  workflow_dispatch:
jobs:
  Build:
    runs-on: ubuntu-latest
    steps:
      - name: Event that triggered the workflow
        run: |
          echo "The job was triggered by event: ${{ github.event_name }}"
          echo "The name of your branch is ${{ github.ref }} and your repository is ."
      
      - name: Checkout code
        uses: actions/checkout@v4.2.2

      - name: List file in the repository
        run: |
          echo "The repository ${{ github.repository }} contains the following files:"
          tree
